<h1>Hi <%= @current_user.username %>!</h1>
<br>
<h2>This is what you should do:</h2>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Description
        </th>

        <th>
          Category
        </th>

        <th>
          Priority
        </th>

        <th>
          Deadline
        </th>

        <th>
          Status
        </th>

        <th>
          Duration
        </th>

        <th>
          Completed?
        </th>
      </tr>

      <% @list.each do |task| %>
      <tr>
        <td>
          <%= task.id %>
        </td>

        <td>
          <%= task.description %>
        </td>

        <td>
          <%= task.category %>
        </td>

        <td>
          <%= task.priority %>
        </td>

        <td>
          <%= task.deadline %>
        </td>

        <td>
          <%= task.completion_verification %>
        </td>

        <td>
          <%= task.duration %> mins
        </td>

        <td>
          <a href="/generated_task/<%= task.id %>">
            <button>Yes</button>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<h2> You have an extra <%= @leftover_minutes %> mins! </h2>

</hr>